# APPLICATION
PORT= # Agrega un puerto para el servicio. Ej: 3001
HOST= # Indica el host Ej localhost, 127.0.0.1 ó incluso 0.0.0.0

# JWT
JWT_SECRET= # Clave para cifrado de token

# DATABASES
DB_URI= # Tu string de conexión a mongodb Ej mongodb://user:password@127.0.0.1:27017/nombre_db
