# APPLICATION
PORT= # Puerto mapeado en el dockerfile Ej 3001:3000 ? el puerto que iría acá sería el 3001
HOST= # Para hacer peticiones desde el host se recomienda 0.0.0.0

# JWT
JWT_SECRET= # Clave para cifrado de token

# DATABASES
DB_URI= # url del servicio de mongodb: Recomendado -> mongodb://mongo_db/api

# DOCKER - PODMAN
NODE_ENV= # production
ENV= # .env.container
